/*FOR MAP and FOR WEATHER*/
/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    /*padding: 20px;*/
}
div.scroller {
   /* width: 300px;
    height: 100px;*/
    overflow-y: scroll;
    scrollbar-color: pink lightblue;
}
.geolocation{
    padding-left: 200px;
}
.WL{
    /*padding-left: 80px;*/
    font-size: 32px;
    margin-left: -550px;
}
#map {
    height: 348px; 
    width: 576px;
    margin-top: 20px;
}

#weather {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    margin-left: -750px;

}



